*{
	padding: 0;
	margin: 0;
	// font: 14px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
	font-family: @family;
	box-sizing: border-box;
}
@font-face{
	font-family: myfont;
	src : url('../font/dusha-regular.woff.ttf');
}
input,button{ margin:0; padding:0; list-style-type:none;}
button{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	outline: none;
	cursor: pointer;
}
a{
	text-decoration: none;
}
ul li{
	text-decoration: none;
	list-style: none;
}
body{
	background: #e5e5e5;
	min-width: 1260px;
    overflow: auto;
}
.fl(){
	float:left;
}
.fr(){
	float:right;
}
.pr(){
	position:relative;
}
.pa(){
	position:absolute;
}
@f14:14px;
@family:"Arial";
.bradius(@radius:8px){
    -webkit-border-radius:@radius;
    -moz-border-radius:@radius;
    border-radius:@radius;
}
.border(){
    border: 2px solid #bbbbbb;
}
.liner-gradient(@top:#ebebeb,@bot:#ffffff){
	background: -webkit-linear-gradient(@top,@bot ); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(@top,@bot); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(@top,@bot); /* Firefox 3.6 - 15 */
	background: linear-gradient(@top,@bot);
}
.flex(@wrap:nowrap,@jcontent:space-between){
	display: flex;
	flex-direction: row;
	flex-wrap: @wrap;
	justify-content: @jcontent;
	align-items: stretch;
}
@redcolor:#e84c3d;
@redtc:#ff846a;
@redbc:#b53a2f;
@bluecolor:#3598db;
@bluetc:#48cdff;
@bluebc:#2873a6;
@tcolor:#e1e4e5;
@mcolor:#f1f4f5;
@green:#007b17;
.linet(){
	border-top:1px solid #fff;
	border-bottom: 1px solid #d0d0d0;
}
.box-show(){
	-moz-box-shadow:0px 2px 2px #fff inset;               
	-webkit-box-shadow:0px 2px 2px #fff inset;
	box-shadow:0px 2px 2px #fff inset;  
}
.red-but(@color:#e84c3d,@tc:#ff846a,@bc:#b53a2f){
	background: @color;
	.bradius();
	border-top:1px solid @tc;
	border-bottom:3px solid @bc;
	box-shadow: 0 2px 2px #cccdce;
}
.blue-but(){
	background: @bluecolor;
	.bradius();
	border-top:1px solid @bluetc;
	border-bottom:3px solid @bluebc;
	box-shadow: 0 2px 2px #cccdce;
}
.red-pro(){
	border-radius: 6px 0 0 6px;
	border-top:1px solid @redtc;
	background: @redcolor;
	display: block;
	box-shadow: 0 2px 2px #cccdce;
}
.blue-pro(){
	border-radius: 0 6px 6px 0;
	border-top:1px solid @bluetc;
	display: block;
	background: @bluecolor;
	box-shadow: 0 2px 2px #cccdce;
}
.list(){
	.pr();
	.bradius(6px);
	margin-top: 15px;
	overflow: hidden;
	box-shadow: 0px 0px 10px #c1c1c1;
}
.witebar(){
	box-shadow: 0px 0px 10px #c1c1c1;
	background: #fff;
	overflow: hidden;
	width: 100%;
}
#app{
   max-width: 1260px;
   margin: 0 auto;
   
   min-height: 980px;
   background-size: contain;
   background-position: 0 51px;
}
header{
	width: 100%;
	position: fixed;
    top: 0;
    z-index: 999999;
    width: 1260px;
}
nav{
	overflow: hidden;
	height: 51px;
	background: url(../images/nav-bg.jpg) no-repeat;
}
.log{
	float: left;
	padding: 18px 0 18px 25px;
}
.nav-left{
	width: 348px;
	.fl();
	margin-left:320px;
	li{
		margin-right:0px;
	}
}

.nav-right{
	.fr();
	width: 20%;
	margin-right: 27px;
	li{
		margin-left: 12.5%;
		.fr();
		img{
			padding-top: 10px;
		}
	}
}

nav li{
	display: inline-block;
	font-size: @f14;
	line-height: 51px;
	a{
		color:#bdbdbd;
		font-weight: bold;
	}
}

.tips{
	background: #fa8a73;
	border:1px solid #fd6748;
	color: #fff;
	text-align: center;
	width: 1260px;
	.pa();
	height: 60px;
	line-height: 60px;
	z-index: 222;
	font-size: 18px;
}
.setname{
	.pa();
	top: 50%;
	left: 50%;
	width: 1260px;
	height: 150px;
	background: #fff;
	margin-left: -630px;
	z-index: 9999;
	lable{
		display: block;
		text-align: center;
	}
	button{
		margin-right:20px; 
		.blue-but();
		padding: 5px 20px;
		color: #fff;
	}
}
.overlay{
	position: fixed;
    z-index: 10;
    background: #000000a8;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

}
.tab-list ul{
	.flex();
}

.tab-list li{
	width: 24.85%;
	height: 42px;
	cursor: pointer;	
	a{
		background: #7e7e7e;
		border-radius: 10px 10px 0 0;
		text-align: center;
		line-height: 42px;
		font-size: 16px;
		color: #d9d9d9;
		font-weight: bold;
        display: block;
        .pr();
		&::before{
			.pa();
			content: "";
			width: 44px;
			height: 47px;
            background: url(../images/ball_gray.png) no-repeat center;
            background-size: 100%;
			left: 14px;
			top: -50%;

			
		}
	}
	.router-link-active{
		background: #e5e5e5;
		color: #3a3a3c;
		.pr();
		&::before{
			.pa();
			content: "";
			width: 44px;
			height: 47px;
            background: url(../images/ball.png) no-repeat center;
            background-size: 44px 47px;
			left: 14px;
			top: -50%;

			
		}
	}
}
.modle-overlay{
	position: fixed;
    z-index: 10;
    background: #000000a8;
    width: 100%;
    height: 100%;
    left: 0;
	top: 0;
	display: none;
	
}
.popup{
	z-index: 12;
	display: none;
	.pa();
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 608px;
	height: 635px;
	.bradius();
	background: #e6e6e6;
	overflow:  hidden;
	h2{
		font-size: 14px;
		color: #676767;
		text-align: center;
	}
	h3{
		color: #ff0013;
		font-size: 16px;
	}
	p{
		color: #662424;
	}
	&-top{
		background:#fff;
		img{
			display: block;
			margin: 0 auto;
			padding: 30px 0 10px;
		}
		span{
			color: #273545;
			font-size: 18px;
			text-align: center;
			display: inherit;
			line-height: 28px;
		}
		P{
			text-align: center;
			color: #968c86;
			font-weight: bold;
		}
		.p-close{
			position: absolute;
			right: 20px;
			top: 10px;
			font-weight: bold;
			font-family: arial;
			font-size: 26px;
			color: #ccc;
			text-shadow: 0 1px #fff;
			cursor: pointer;
			img{
				padding: 0;
				width: 90%;
			}
			&:hover img{
				width: 100%;
			}
			
		}
		.reload{
			.p-close;
			right: inherit;
			left: 20px;
		}
		
	}
	&-content{
		padding: 20px 70px;
		background: #fff;
		margin-top: -1px;
		p{
			font-size: 15px;
			line-height: 1.2;
			padding: 6px 0;
			color: #303030;
			&:last-child{
				color: #b1b1b1;
			}
			&:nth-child(1) span{
				color: #007b17;
			}
			&:nth-child(2) span{
				color: #ff0000;
			}
		}
	}
	&-bottom{
		padding: 25px 70px;
		button{
			.blue-but;
			width: 180px; 
			height: 52px;
			font-size: 16px;
			color: #fff;
			font-weight: bold;
			.fr();
		}
		span{
			width: 280px;
			height: 46px;
			display: block;
			box-shadow: 0px 0px 6px #e0e0e0 inset;
			border: 1px solid #e0e0e0;
			font-size: 16px;
			font-weight: bold;
			color: #646464;
			float: left;
			text-align: center;
			margin-top: 3px;
			line-height: 46px;
			background: #fff;
		}
	
	}
	&-mid{
		border-top: 1px solid #fff;
		height: 179px;
		padding: 10px 0;
		
		ul{
			.flex(wrap);
			padding: 10px 70px;
		}
		li{
			width: 148px;
			height: 37px;
			border: 2px solid #868686;
			margin-bottom: 9px;
			.bradius(8px);
			.box-show();  
			.liner-gradient();
			color: #3a3a3c;
			text-align: center;
			line-height: 35px;
			font-weight: bold;
			cursor: pointer;
			&.active{
				color: #007b17;
				.liner-gradient(@top:#ebebeb,@bot:#ffffff);
			}
			input{
				width: 100px;
				height: 24px;
				line-height: 24px;
				background: none;
				outline: none;
				border: none;
				font-size: 18px;
				color: #3a3a3c;
				text-align: center;
			}
		}
		p{
			font-size: 14px;
			text-align: left;
			padding: 0px 70px;
			color: #676767;

		}
		span{
			font-size: 14px;
			font-weight: bold;
			color: #007b17;
			margin-left: 5px;
		}
	}
	&-bot{
		background: #e6e6e6;
		height: 162px;
		border-top: 1px solid #fff;
		.bet{
			text-align: center;
			color: #676767;
			margin-top: 20px;
			font-weight: bold;
			span{
				color: #007b17;
				margin-left: 40px;
			}
		}
		button{
			.blue-but;
			width: 180px; 
			height: 52px;
			font-size: 16px;
			color: #fff;
			font-weight: bold;
			margin: 10px auto;
    		display: block;
		}
	}
	   
}
.show {
	display: block;
}
.hide {
	display: none;
}
