@import "common.less";

.national{
    background: #e5e5e5;
}
.pepole {
    ul{
        .flex(@wrap:wrap);
        width: 100%;
        padding-top: 59px;
    }
    li{
        width: 408px;
        background: #efefef;
        .border();
        .bradius();
        text-align: center;
        cursor: pointer;
        font-weight: normal;
        font-size: 14px;
        height: 32px;
        line-height: 28px;
        margin-bottom: 15px;
        .pr();
        &::before{
            left: 2px;
            top: 2px;
            .pa();
            color: #fff;
            .bradius(@radius:6px);
            width: 24px;
            height: 24px;
            font-size: 18px;
            font-weight: bold;
        }
        &:nth-child(1),&:nth-child(3){
            height: 49px;
            font-size: 16px;
            color: #3a3a3c;
            font-weight: bold;
            line-height: 45px;
            &:before{
                width: 41px;
                height: 41px;
                background: blueviolet;              
                content: "2";
                font-size: 30px;
            }
        }
        &:nth-child(2){
            height: 59px;
            margin-top:-10px;
            font-size: 20px;
            color: #3a3a3c;
            font-weight: bold;
            line-height: 55px;
            &:before{
                width: 51px;
                height: 51px;
                background: #ff0000;
                font-size: 40px;
                content: "1";
            }
        }
        &:nth-child(3){
            &::before{
                content: "3";
                background: #096aad;
            }
        }
        &:nth-child(4){
            &::before{
                content: "4";
                background: #066a2c;
            }
        }
        &:nth-child(5){
            &::before{
                content: "5";
                background: #9e4f09;
            }
        }
        &:nth-child(6){
            &::before{
                content: "6";
                background: #a2577a;
            }
        }
        
    }
}
